@model Project_Fin_Etude___Maalem_Bin_Idik.Models.PasswordReset
@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Shared/_Navigation.cshtml";
}

<div style="margin-top:10px">
    @if (Session["EmailStatus"] != null)
    {
        <div class="alert alert-warning" role="alert" id="my-alert" style="position: absolute!important;top: 50%!important;left: 50%!important;transform: translate(-50%, -50%);z-index: 2;">
            <b>Aucun compte lié a cette email ! </b>Veuillez réessayer.
        </div>
    }
    <div class="content-container">
        <div class="container">
            @using (Html.BeginForm("PasswordReset", "Login", FormMethod.Post))
            {
                <div class="header">
                    <img src="~/Content/VerificationAccount_Content/img/lm3lam black.svg" alt="">
                    <h4>Récupérer votre compte</h4>
                </div>
                <div class="body">
                    <div class="mb-3">
                        <label class="form-label">Veuillez entrer la boite éléctronique du compte que vous souhaitez récupérer:</label>
                        <input type="email" class="form-control" name="email" required>
                    </div>
                </div>
                <div class="footer">
                    <button type="submit" class="btn btn-warning">Récuperer</button>
                </div>
            }
        </div>
    </div>
</div>