@model Project_Fin_Etude___Maalem_Bin_Idik.Models.Authentification
@{
    ViewBag.Title = "PasswordChange";
    Layout = "~/Views/Shared/_Navigation.cshtml";
}

<div style="margin-top:10px">
    <div class="content-container">
        <div class="container">
            @using (Html.BeginForm("PasswordChange", "Login", FormMethod.Post, new { id = "form" }))
            {
                <div class="header">
                    <img src="~/Content/VerificationAccount_Content/img/lm3lam black.svg" alt="">
                    <h4>Récupérer votre compte</h4>
                </div>
                <div class="body">
                    <div class="mb-3">
                        <label class="form-label">Entrer le nouveau mots de passes :</label>
                        <input id="mdp" type="email" class="form-control" name="Password" required>
                        <label class="form-label">Confirmer le mots de passes :</label>
                        <input id="cmdp" type="email" class="form-control" required>
                    </div>
                </div>
                <div class="footer">
                    <button id="btnModifier" type="submit" class="btn btn-warning">Modifier le mot de passe</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    document.getElementById("btnModifier").addEventListener("click", function (e) {
        e.preventDefault();
        var mdp = document.getElementById("mdp").value;
        var cmdp = document.getElementById("cmdp").value;
        var form = document.getElementById("form");
        if (mdp === cmdp) {
            form.submit();
        }
        else {
            alert("Le mot de passe et la confirmation de mot de passe n'est pas identique");
        }
    });
</script>